@media screen and (min-width: 960px) {

	.event_contents_container {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		padding: 2rem 0;
	}

	.section_heading {
		text-align: center;
		font-size: 2.5rem;
		font-weight: 700;
		color: var(--text-primary);
		letter-spacing: 0.15em;
		margin-bottom: 0;
	}

}
