@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP");

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-family: "Noto Sans JP"; /* サイト全体のフォント設定。 */
	scroll-behavior: smooth; /* TOPへ戻るボタンを押した際にスムーズにスクロールする。 */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
