/* tablet 481px〜959px */
@media screen and (min-width: 481px) and (max-width: 959px) {

	.work_contents_container {
		display: flex;
		flex-flow: column;
		padding: 5vh 1rem 0 1rem;
	}
	
	.work_menu_title {
		font-family: 'Alegreya Sans SC', sans-serif;
		width: 100%;
		height: 5vh;
		text-align: center;
		font-size: 17pt;
		margin-bottom: 3vh;
	}
	
	.work_gallery {
		display: flex;
	 	/*justify-content: space-between;*/ /* 3列並びの場合この設定があると3n+2個の場合に変な空白が生じる。 */
	 	flex-wrap: wrap;
	 	margin-bottom: 10px;
	}
	
	.work_content {
		position: relative;
		height: 30vh;
		width: 33%;
		margin-bottom: 10px;
		
		margin-left: 0.15%; /* justify-content: space-between; を削除する代わりの記述。 */
		margin-right: 0.15%; /* justify-content: space-between; を削除する代わりの記述。 */
	}

}
